{% include "header.html" %}

  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a student at The University of Suceava in the 1st cycle (licență) corresponding to bachelor degree.</p>
        <p>On this blog/website I will upload posts about my coding projects in order to maybe receive tips, or even help someone who is trying to make a similar project.</p>
        <p>Last updated: 18/07/2023 </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}