{% include "header.html" %}
<link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">
  <!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('https://images.unsplash.com/photo-1526045612212-70caf35c14df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
        <!-- Solution: Use an if statement to change the h1-->
          {% if msg_sent: %}
          <h1>Successfully sent your message</h1>
          {% else: %}
          <h1>Contact Me</h1>
          {% endif %}
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p><b style="font-size: 24px;">
          Want to get in touch? Fill out the form below to send me a message and
          I will get back to you as soon as possible!</b>
        </p>
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('contact') }}"
            method="post"
          >
            <div class="form-floating">
              <label for="name" style="font-family: Helvetica, sans-serif;">Name</label>
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Enter your name..."
                required
              />

            </div>
            <div class="form-floating">
              <label for="email" style="font-family: Helvetica, sans-serif;">Email address</label>
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Enter your email..."
                required
              />
            </div>
            <div class="form-floating">
              <label for="phone" style="font-family: Helvetica, sans-serif;">Phone Number</label>
              <input
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Enter your phone number..."
                required
              />

            </div>
            <div class="form-floating">
              <label for="message" style="font-family: Helvetica, sans-serif;">Message</label>
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                required
                style="height: 12rem"
              ></textarea>

            </div>
            <br />
            <button
              class="btn btn-primary text-uppercase"
              id="submitButton"
              type="submit"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>


{% include "footer.html" %}